.header
    background: $denim-blue
    height: 6rem
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 2rem
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1000
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    transition: all 0.3s ease-in-out
    color: white

    .navbar a
        float: left
        font-size: 16px
        color: white
        text-align: center
        padding: 14px 16px
        text-decoration: none

    .dropdown
        float: left
        overflow: hidden

        & .dropbtn
            font-size: 16px
            border: none
            outline: none
            color: white
            padding: 14px 16px
            background-color: inherit
            font-family: inherit
            margin: 0

        .navbar a:hover, &:hover .dropbtn
            background-color: red

        &-content
            display: none
            position: absolute
            background-color: #f9f9f9
            min-width: 160px
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
            z-index: 1

        &-content a
            float: none
            color: black
            padding: 12px 16px
            text-decoration: none
            display: block
            text-align: left

        &-content a:hover
            background-color: #ddd

        &:hover .dropdown-content
            display: block

.header-logo
    height: 4.5rem
    width: 100%

.header-menu__items
    display: flex
    align-items: center
    justify-content: space-between
    gap: 1.5rem
    list-style: none

    .header-menu__item
        font: 500 1.1rem 'Roboto', sans-serif
        transition: all 0.3s ease-in-out

        &:hover
            color: $united-nations-blue

    
.header-phone
    font: 500 1.3rem 'Roboto', sans-serif
