@import "~bootstrap/scss/bootstrap"

.couch-cleaning-container
    height: calc(100vh - 71px)
    background-image: url(../assets/images/blue-cushions-one-yellow-cushion.jpg)
    background-size: cover
    position: relative

.couch-cleaning-container-content
    position: absolute
    top: 40%
    text-align: center
    color: white
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 2rem
    padding: 2% 0% 2% 10%
    background: rgba(0, 0, 0, 0.6)

    h1
        font-size: 2.5rem
        font-weight: 300
        text-transform: uppercase

    p
        width: 70%
        font-size: 1.2rem
        font-weight: 400
        letter-spacing: 2px
        text-align: left

    .couch-cleaning-container-content-button
        width: 200px
        height: 50px
        background: #f5f5f5
        color: #000
        border: none
        border-radius: 5px
        font-size: 1.2rem
        font-weight: 400
        letter-spacing: 2px
        text-transform: uppercase
        cursor: pointer

.couch-cleaning-process
    background: #f7f7f7
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 3rem 0rem

    h1
        font-size: 2.5rem
        font-weight: 300
        text-transform: uppercase

    ol
        width: 70%
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        gap: 2rem
        padding: 2% 0% 2% 10%

        li
            font-size: 1.2rem
            font-weight: 400
            letter-spacing: 2px
            text-align: left
