@import "~bootstrap/scss/bootstrap"

.couch-cleaning-container
    height: calc(100vh - 71px)
    background-image: url(../assets/images/blue-cushions-one-yellow-cushion.jpg)
    background-size: cover
    position: relative

.couch-cleaning-container-content
    position: absolute
    top: 40%
    text-align: center
    color: white
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 2rem
    padding: 2% 0% 2% 10%
    background: rgba(0, 0, 0, 0.6)

    h1
        font-size: 2.5rem
        font-weight: 300
        text-transform: uppercase

    p
        width: 70%
        font-size: 1.2rem
        font-weight: 400
        letter-spacing: 2px
        text-align: left

    .couch-cleaning-container-content-button
        width: 200px
        height: 50px
        background: #f5f5f5
        color: #000
        border: none
        border-radius: 5px
        font-size: 1.2rem
        font-weight: 400
        letter-spacing: 2px
        text-transform: uppercase
        cursor: pointer

.couch-cleaning-process
    background: #f7f7f7
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 3rem 0rem

    h1
        font-size: 2.5rem
        font-weight: 300
        text-transform: uppercase

    ol
        width: 70%
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        gap: 2rem
        padding: 2% 0% 2% 10%

        li
            font-size: 1.2rem
            font-weight: 400
            letter-spacing: 2px
            text-align: left

.contacts-page
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 2rem

    .map-container
        h1
            font-size: 2.5rem
            font-weight: 300
            text-transform: uppercase
            text-align: center
            margin: 2rem 0rem
        p
            width: 70%
            font-size: 1.2rem
            font-weight: 400
            letter-spacing: 2px
            text-align: center
            margin: 1rem auto

    .contact-form-container
        .contact-buttons-group
            display: flex
            flex-direction: row
            gap: 2rem
            align-items: center
            justify-content: center

        h1
            font-size: 2.5rem
            font-weight: 500
            text-transform: uppercase
            text-align: center
            margin: 2rem 0rem

        .contact-form
            display: flex
            flex-direction: column
            gap: 2rem
            width: 70%
            margin: 0 auto

    .contact-info-container
        h2
            font-size: 2.5rem
            font-weight: 300
            text-transform: uppercase
            text-align: center
            margin: 2rem 0rem

        .contact-info
            display: flex
            flex-direction: row
            gap: 2rem
            width: 100%
            margin: 0 auto

            .contact-info-item
                display: flex
                flex-direction: column
                gap: 1rem
                flex: 1 1 0
                align-items: center
                justify-content: space-evenly

                .contact-info-item-header
                    font-size: 2rem
                    color: #000
                    font-weight: 400

                .contact-info-item-text
                    font-size: 1.2rem
                    font-weight: 400
                    letter-spacing: 2px
                    text-align: center

    .social-networks-container
        margin-bottom: 4rem

        h1
            font-size: 2.4rem
            font-weight: 300
            text-transform: uppercase
            text-align: center
            margin: 2rem 0rem

        .social-networks
            display: flex
            flex-direction: row
            gap: 4rem
            align-items: center
            justify-content: center




